<div class="card">
    <img class="rounded" src="{{cat.fileDownloadUri}}" alt="{{cat.fileName}}" width="250" height="250"
    (error) ="onImgError($event)">
    <div class="card-body">
        <h5 class="card-title">Name: {{cat.name}}</h5>
        <p class="card-text">Microchip Number: {{cat.microchipNumber}}</p>
        <p class="card-text">Sex: {{cat.sex}}</p>
        <p class="card-text">Color: {{cat.color}}</p>
        <p class="card-text"><small class="text-muted">Last Modified Date: {{cat.lastModifiedDate}}</small></p>
        <a routerLink="/catProfile" 
        [queryParams]="{ microchipNumber: cat.microchipNumber }" 
        class="btn btn-primary">
            View Profile
        </a>
    </div>
</div>