
.header {
    height: 70px;
    background-color: #45b678;
    color: white;
    font-family: system-ui;
    font-weight: 600;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    width: 100%;
  }

  .header #title{
    font-size: xx-large;
    float: left	;
    padding-left: 10px;
    padding-top: 15px;
  }

  .header #donate {
    align-items: right;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
  }

  .header #links {
    align-items: right;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
  }

  .header #login {
    color: white;
  }

  .header #login:hover {
    color: rgb(60, 123, 206);
  }

  .header #register {
    color: white;
  }

  .header #register:hover {
    color: rgb(60, 123, 206);
  }

  .logout {
    color: white;
  }

  .logout:hover {
    color: rgb(60, 123, 206);
  }