<div class="header" role="banner">
    <img
      width="100"
      alt="Feral Cat Tracker"
      src="/assets/FeralCatTrackLogo.png"
    />
    <span id="title">Feral Cat Tracker</span>
    <span id="donate">
      <form ngNoForm action="https://www.sandbox.paypal.com/donate" method="post" target="_blank">
        <input type="hidden" name="hosted_button_id" value="RXV8EE856BR8U" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </span>
    <span id="links">
      <ng-container *ngIf="isAuthenticated(); else loginLink">
        <span id="greeting">Hello, {{ getUsername() }}!</span>
        <a> | </a>
        <a class="logout" href="#" (click)="logout()">Logout</a>
      </ng-container>
      <ng-template #loginLink>
        <a href="/login" id="login">Login</a>
        <a> | </a>
        <a href="/register" id="register">Register</a>
      </ng-template>
    </span>
  </div>

  <div class="content" role="main">
