<br>
<br>
<app-search-form></app-search-form>
<br>
<br>
<div class="card-deck" *ngFor = "let cat of cats">
  <div class="card">
    <img class="card-img-top" src="/assets/FeralCatTrackLogo.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Name: {{cat.name}}</h5>
      <p class="card-text">Microchip Number: {{cat.microchipNumber}}</p>
      <p class="card-text">Color: {{cat.color}}</p>
      <p class="card-text"><small class="text-muted">Last Modified Date: {{cat.lastModifiedDate}}</small></p>
    </div>
  </div>
  <br>
</div>

<!-- <router-outlet></router-outlet> -->

<br>
<br>