.home{
    font-family: system-ui;
    color: rgb(0, 0, 0);
    text-align: center;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    }

h1{
    color:#45b678;
    text-align: center;
}

h6{
    font-style: italic;
    text-align: center;
}

img{
    border: #45b678;
    align-items: center;
}
