<div class="home">
    <head>
        <title>Feral Cat Tracker</title>
    </head>
    <body>
        <br>
        <br>
        <img class="rounded"
        height="300"
        alt="Outdoor cat investigating a porch."
        src="/assets/homepageCat.JPG" title="Cat on porch."
      />
      <br>
      <br>
        <h1>Feral Cat Tracker</h1>
        <h6>This a LaunchCode project with the goal of aiding volunteer community cat caretakers and their veterinary teams by storing their medical data.</h6>
        <b></b>
        <p>In 2023 our small team of 3 came up with the idea to aid volunteers worldwide with the task of keeping the medical data of feral cats. With this data, when cats are captured, volunteers will have a medical history to help ensure the cats are getting the care they need and stopping the spread of communicable diseases. With a medical history, volunteers and clinics don't need to spend resources on cats that have already been cared for.</p>
        <p>An important mission of the volunteer feral cat community is ensuring that these cats are also spayed and neutered. This ensures that these populations do not grow out of control and instead hopes to limit the amount of feral cats in the community while also giving care and respect to the cats living among us. Feral cats are resilient and loved but can also cause strain on local wildlife, which is why it's important to trap-neuter-release.</p>

        <br>
        <h3>How can you help?</h3>
        <p>There are so many people involved in helping community cats! From running the website and database, to ongoing care and feeding of cats, to the veterinarians who spay and vaccinate the animals. If you have questions on getting involved, please reach out to us below on the <a href="/contact">Contact Us</a> button!</p>
        <br>
        <h3>What does a volunteer cat tracker need?</h3>
        <p>If you have cats in your community, you need to build rapport with them by feeding and seeing where they like to hang around. You must find a veterinary clinic that particpates in a TNR program and make sure they are ready before you capture the cats. We recommend the guide on TNR capturing cats <a href="https://youtu.be/wF_omFE7Etc?si=kzNBjeDf-5kAaPyJ">here</a> on YouTube! Create a user on our website and track your interactions with your community cats once they've been captured and microchipped.</p>
        <img class="rounded"
        height="500"
        alt="Community Cats being fed on a porch."
        src="/assets/Feral4.jpg" title="Cat feeding time!."/>
    </body>
<br>
<br>
<br>
</div>
